<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-mod" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                <img class="mini-logo" src="/img/dexi_logo_50px.png" height="100%" /> Dexi
                </a>
            </div>
            <div class="collapse navbar-collapse" id="example">
                <ul class="nav navbar-nav navbar-right">
                    <% if(isLogged) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="underline"><%= user.username %></span><span class="caret"></span></a>
                            <ul class="dropdown-menu" style="margin-top:10px; ">
                                <li>
                                    <a href="/u/<%= user.url %>">Minha página</a>
                                </li>
                                <li><a href="/portal/options">Opções</a></li>
                                <li><a href="/portal/addresses">Endereços</a></li>
                                <li><a href="/portal/friends">Amigos</a></li>
                                <li><a href="/portal/requests">Pedidos</a></li>
                                <% if(user.Seller){ %>
                                    <li><a href="/portal/items">Itens</a></li>
                                <% } %>
                            </ul>
                        </li>
                        <li>
                            <a href="/portal/requests">Pedidos</a>
                        </li>
                        <li>
                            <a href="/logout">Sair</a>
                        </li>
                        <li>
                            <p class="navbar-text">
                                Tamanho:
                                <a href="/scale?op=p">+A</a> / <a href="/scale?op=m">-A</a>
                            </p>
                        </li>
                    <% } else { %>
                        <li>
                            <a href="/register">Cadastrar</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <p class="navbar-text">
                                Tamanho:
                                <a href="/scale?op=p">+A</a> / <a href="/scale?op=m">-A</a>
                            </p>
                        </li>
                    <% } %>
                </ul>
                <form class="navbar-form navbar-left" role="search" method="get" action="/search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<% if((typeof isIndex) !== 'undefined') { %>
    <% if(!isIndex) { %>
        <div class="fixed70"></div>
    <% } %>
<% } else { %>
    <div class="fixed70"></div>
<% } %>
