<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" type="image/png" href="/img/dexi_logo_favicon.png"/>
<link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/assets/toastr/toastr.min.css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/css/master.css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/assets/rrssb/css/rrssb.css" charset="utf-8"/>



<% if(scale.level > 0){ %>
    <% var multiplier = 1 + (scale.level * 3)/10 %>
    <style>
        /* sizes for zoomed in stuff */
        p, li, label, input, th, td{
            font-size: <%= Math.floor(multiplier * 14)%>px !important;
        }
        h6 {
            font-size: <%= Math.floor(multiplier * 12)%>px !important;
        }
        h5 {
            font-size: <%= Math.floor(multiplier * 14)%>px !important;
        }
        h4 {
            font-size: <%= Math.floor(multiplier * 18)%>px !important;
        }
        h3 {
            font-size: <%= Math.floor(multiplier * 24)%>px !important;
        }
        h2 {
            font-size: <%= Math.floor(multiplier * 30)%>px !important;
        }
        h1 {
            font-size: <%= Math.floor(multiplier * 36)%>px !important;
        }
    </style>
<% } %>
