<script src="/assets/jquery/dist/jquery.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/assets/angular/angular.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/assets/toastr/toastr.min.js" charset="utf-8" type="text/javascript"></script>
<script src="/app/init.js" charset="utf-8" type="text/javascript"></script>
