bannerBgColor = rgb(0, 51, 75)
bannerTextColor = rgb(215, 232, 246)

html, body
    height 100%

.wrapper
    height 100%
    width 100%

.verticalWrapper
    height 100%

.horizontalWrapper
    width 100%

.smallGap
    margin-top 15px
.smallGapBottom
    margin-bottom 15px

.banner
    background-color bannerBgColor
    .bannerTextColor
        color bannerTextColor

.dropShadow
    -webkit-box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.12);
    box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.12);

.lightBorder
    border-bottom solid 1px rgb(93, 162, 218)

.verticalCenter
    position relative
    top 50%
    transform translateY(-50%)

.fixed70
    height 70px

#map
    height 100%

.textcenter
    text-align center

.center-me
    margin auto auto

.right-align
    text-align right

.jsok
    display none

.hide
    display none

.navbar-mod
    padding 10px 0px
    background: rgba(235,235,235,1);
    background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(32%, rgba(245,245,245,1)), color-stop(65%, rgba(255,255,255,0.81)), color-stop(100%, rgba(255,255,255,0.6)));
    background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
    background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
    background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(245,245,245,1) 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
    // -webkit-filter: blur(10px); /* Chrome, Opera, etc. */
    // filter: url('blur.svg#blur'); /* Older FF and others - http://jordanhollinger.com/media/blur.svg */
    // filter: blur(10px); /* Firefox 35+, eventually all */
    .mini-logo
        display inline-block
        height 100%

.underline
    text-decoration underline

.errorBox
    width 50%
    margin auto
    border 1px dashed
