html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
}
.verticalWrapper {
  height: 100%;
}
.horizontalWrapper {
  width: 100%;
}
.smallGap {
  margin-top: 15px;
}
.smallGapBottom {
  margin-bottom: 15px;
}
.banner {
  background-color: #00334b;
}
.banner .bannerTextColor {
  color: #d7e8f6;
}
.dropShadow {
  -webkit-box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.12);
  box-shadow: 0px 11px 15px -5px rgba(0,0,0,0.12);
}
.lightBorder {
  border-bottom: solid 1px #5da2da;
}
.verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fixed70 {
  height: 70px;
}
#map {
  height: 100%;
}
.textcenter {
  text-align: center;
}
.center-me {
  margin: auto auto;
}
.right-align {
  text-align: right;
}
.jsok {
  display: none;
}
.hide {
  display: none;
}
.navbar-mod {
  padding: 10px 0px;
  background: #ebebeb;
  background: -moz-linear-gradient(top, #ebebeb 0%, #f5f5f5 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ebebeb), color-stop(32%, #f5f5f5), color-stop(65%, rgba(255,255,255,0.81)), color-stop(100%, rgba(255,255,255,0.6)));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #f5f5f5 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
  background: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 32%, rgba(255,255,255,0.81) 65%, rgba(255,255,255,0.6) 100%);
}
.navbar-mod .mini-logo {
  display: inline-block;
  height: 100%;
}
.underline {
  text-decoration: underline;
}
.errorBox {
  width: 50%;
  margin: auto;
  border: 1px dashed;
}
