<% for(var i = 0; i < load.items.length ; i++){ %>
    <% if(i % 3===0){ %>
        <div class="row">
    <% } %>
    <div class="col-xs-4">
        <div class="panel
            <% if(load.items[i].Agenda){ %>
                panel-danger
            <% } else { %>
                panel-warning
            <% } %>">

            <div class="panel-heading">
                <h3 class="panel-title"><%= load.items[i].itemName %></h3>
            </div>
            <div class="panel-body">
                <a href="/i/<%= load.items[i].id %>">
                    <% if(load.items[i].picturename){ %>
                        <%- image(load.items[i].picturename, {height : 400, width: 400, crop: 'fill', radius : 25, html_width: '100%', html_height: null}) %>
                    <% } else { %>
                        <img src="/img/no_image.png" alt="" width="100%" />
                    <% } %>
                </a>
            </div>
        </div>
    </div>
    <% if(i % 3===2 || i === load.items.length-1){ %>
        </div>
    <% } %>
<% } %>
<% if(load.items.length === 0){ %>
    <div class="row smallGap">
        <h4>Esta empresa não possui nenhum produto ou serviço cadastrado no momento.</h4>
    </div>
<% } %>
