<div class="well jsno">
    <p>
        Você precisa habilitar Javascript para realizar pedidos.
    </p>
    <a href="btn btn-primary" href="/u/<%= load.service.url %>">Volte para a página anterior</a>
</div>
<div class="row jsok" ng-controller="RequestController as r">
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar progress-bar-info" ng-show="r.compareSteps(1, 'panel')" style="width: 33%">
                <span class="sr-only">Escolhe seu item</span>
            </div>
            <div class="progress-bar progress-bar-info" ng-show="r.compareSteps(2, 'panel')" style="width: 66%">
                <span class="sr-only">Para qual endereço?</span>
            </div>
            <div class="progress-bar progress-bar-info" ng-show="r.compareSteps(3, 'panel')" style="width: 100%">
                <span class="sr-only">Algumas Opções</span>
            </div>
            <div class="progress-bar progress-bar-primary" ng-show="r.compareSteps(4, 'panel')" style="width: 100%">
                <span class="sr-only">Verificar</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default" ng-show="r.compareSteps(1)">
            <div class="panel-heading">
                <h3 class="panel-title">Escolha alguns produtos</h3>
            </div>
            <div class="panel-body">

                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" id="itemSelector" type="button">
                                {{selectedIName}}
                                <span class="caret"></span>
                            </button>
                            <ul aria-labelledby="#itemSelector" class="dropdown-menu" role="menu">
                                <li ng-repeat="i in items">
                                    <a href="#" ng-click="r.setActiveItem(i)">
                                        {{i.itemName}} - {{i.itemPrice * (1 - i.discount/100) | currency}} {{ !!i.Agenda ? 'Por Hora' : ''}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end dropdown -->
                    <div class="col-xs-3">
                        <form class="" role="form">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    type="number"
                                    placeholder=""
                                    ng-model="quantity">
                            </div>
                        </form>
                    </div>
                    <!-- end quantity-->
                    <div class="">
                        <a class="btn btn-primary" href="#" ng-click="r.addItem(quantity)">
                            Adicionar item
                        </a>
                    </div>
                    <!-- end add button -->
                </div>
                <!-- end item list -->
                <div class="col-xs-12">
                    <table class="table table-striped table-responsive table-condensed">
                        <tr>
                            <td>
                                Foto
                            </td>
                            <td>
                                Nome do <% if(type==="agenda"){ %>serviço<% }else{ %>produto<% } %>
                            </td>
                            <td>
                                <% if(type==="agenda"){ %>Minutos<% }else{ %>Quantidade<% } %>
                            </td>
                            <td>
                                Opções
                            </td>
                        </tr>
                        <tr ng-repeat="i in selectedItems">
                            <td>
                                <img ng-src="http://res.cloudinary.com/hv7h7oitv/image/upload/c_fill,h_75,r_7,w_75/{{i.picturename}}" alt="" ng-show="i.picturename" width="75px" height="75px"/>
                                <img ng-src="/img/no_image.png" alt="" ng-hide="i.picturename" width="75px"/>

                            </td>
                            <td>
                                {{i.itemName}}
                            </td>
                            <td>
                                {{i.quantity}}
                            </td>
                            <td>
                                <a class="btn btn-dranger" href="#" ng-click="r.removeItem(i.id)">Remover produto</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- end item table -->
            </div>
            <div class="panel-footer" ng-show="r.compareSteps(1, 'panel')">
                <a class="btn btn-default" href="#" ng-click="r.advanceStep('b')">Anterior</a>
                <a class="btn btn-primary" href="#" ng-click="r.advanceStep('f')">Próximo</a>
            </div>
        </div>
        <!-- end first panel -->


        <div class="panel panel-default" ng-show="r.compareSteps(2)">
            <div class="panel-heading">
                <h3 class="panel-title">Escolha um Endereço</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <table class="table table-striped table-responsive table-condensed">
                        <tr>
                            <td>
                                Endereço
                            </td>
                            <td>
                                Opções
                            </td>
                        </tr>
                        <tr ng-repeat="a in addresses">
                            <td>
                                Rua: {{a.address}} {{a.number}} <span ng-show="!!a.apt_number"> APT: {{a.aptNumber}}</span><br>
                                {{a.city}}, {{a.state}} - {{a.country}} <br>
                                CEP: {{a.zip}}
                            </td>
                            <td>
                                <button type="button" class="btn" ng-class="r.getClassIfOn(a.id)" name="button" ng-click="r.setAddress(a.id)">{{r.showButtonText(a.id)}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- end address table -->
            </div>
            <div class="panel-footer" ng-show="r.compareSteps(2, 'panel')">
                <a class="btn btn-default" href="#" ng-click="r.advanceStep('b')">Anterior</a>
                <a class="btn btn-primary" href="#" ng-click="r.advanceStep('f')">Próximo</a>
            </div>
        </div>
        <!-- end second panel / addresses -->
        <div class="panel panel-default" ng-show="r.compareSteps(3)">
            <div class="panel-heading">
                <h3 class="panel-title">Opções adicionais</h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12">
                    <form class="" role="form">
                        <div class="form-group">
                            <label for="start">Dia de início</label>
                            <input type="date" class="form-control" id="start" placeholder="Data" ng-model="startDate">
                        </div>
                        <div class="form-group">
                            <label for="hora">Hora de início (hora do dia)</label>
                            <input type="number" class="form-control" id="hora" placeholder="Hora" ng-model="startHour" min="1" max="24">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="pay">Como pagar?</label>
                            <input type="text" class="form-control" id="pay" placeholder="Como vai pagar? Ex: Crédito/Débito/Direto" ng-model="paym" min="1" max="24">
                        </div>
                    </form>
                </div>
                <!-- Extras panel -->
            </div>
            <div class="panel-footer" ng-show="r.compareSteps(3, 'panel')">
                <a class="btn btn-default" href="#" ng-click="r.advanceStep('b')" >Anterior</a>
                <a class="btn btn-primary" href="#" ng-click="r.advanceStep('f')">Próximo</a>
            </div>
        </div>
        <div class="well" ng-show="r.compareSteps(4, 'panel')">
            <form class="" ng-submit="r.sendToServer()" role="form">
                <input type="submit" class="btn btn-primary" href="#" value="Mandar pedido" name="mandar">
            </form>
        </div>
    </div>

</div>
