<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>404 - Dexi</title>
        <% include partials/baselinks %>
    </head>
    <body>
        <% include partials/banner %>

        <div class="container">
            <div class="jumbotron">
                <h2>Erro: 404</h2>
                <h3>Não encontrei <%= url %></h3>
                <p>
                    A página que você está tentando achar não existe.
                </p>
            </div>
        </div>

        <% include partials/footer %>

        <% include partials/basescripts %>


    </body>
</html>
