<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Endereço - Dexi</title>
        <% include partials/baselinks %>
    </head>
    <body>
        <% include partials/banner %>

        <% include content/addressContent %>

        <% include partials/footer %>

        <% include partials/basescripts %>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBChT1HhWGH525ndn_-IUWvrCaop-9KKqk" type="text/javascript"></script>

        <script type="text/javascript">
            //objects
            var geocoder = null;
            var type = '';
            var currentPos = null;
            //functions
            var search = null;
            var insertMapStuff = null;
            var switchAddress = null;
            var switchZip = null;
            var click = null;
            var configButton = null;

            var getSpecificFromPosition = null;

            var fillCords = null;
            //document manip
            $(document).ready(function(){
                geocoder = new google.maps.Geocoder();
                $('#find').hide();
            });


            $("#zip").keypress(function(){
                switchAddress();
            });
            $("#street").keypress(function(){
                switchZip();
            });
            $("#city").keypress(function(){
                switchZip();
            });
            $("#state").keypress(function(){
                switchZip();
            });

            switchAddress = function(){ //search address
                $('#find').show();
                type = 'address';
                $('#find').html("Buscar Endereço por CEP");
            };
            switchZip = function(){ //search zip
                $('#find').show();
                type = 'zip';
                $('#find').html("Buscar CEP por Endereço");
            };

            insertMapStuff = function(position){
                console.log(position);
                if(type === 'zip'){
                    $('#zip').val(getSpecificFromPosition(position, 'postal_code'));
                }else if (type === "address") {
                    $('#address').val(getSpecificFromPosition(position, 'route'));
                    $('#city').val(getSpecificFromPosition(position, 'administrative_area_level_2'));
                    $('#state').val(getSpecificFromPosition(position, 'administrative_area_level_1'));
                }
            };

            search = function(query){
                geocoder.geocode({address:query}, function(results, status){
                    // console.log(results, status);
                    var position = null;
                    if (status === google.maps.GeocoderStatus.OK) {
                        position = results[0];
                    }else {
                        position = null;
                    }
                    if(!position) return;
                    currentPos = position;
                    insertMapStuff(position);
                });
            };

            click = function(){
                if (type === "address") {
                    var address = '';
                    var zip = $('#zip').val() || '';
                    if (!zip) {
                        toastr.warning('Você precisa do CEP.', 'Falta dados para exectuar essa ação');
                    }
                    address = zip + " - Brasil";

                    console.log(address);
                    search(address);
                }else if(type==="zip"){
                    var street = $('#street').val() || '';
                    var city = $('#city').val() || '';
                    var state = $('#state').val() || '';

                    if (!street || !city || !state) {
                        toastr.warning('Você precisa da rua, da cidade e do estado.', 'Falta dados para exectuar essa ação');
                        return;
                    }

                    var address = '';

                    address =
                        street + ", " +
                        city + ", " +
                        state + " - " + 'Brasil';
                    console.log(address);
                    search(address);
                }
            };

            $("#find").click(click);


            getSpecificFromPosition = function(position, type){

                var comp = position.address_components;
                for (var i = 0; i < comp.length; i++) {
                    if (comp[i].types[0] === type) {
                        console.log();
                        return comp[i].long_name;
                    }
                }
                return null;
            };

            fillCords = function(){
                if (currentPos) {
                    $('#longitude').val(currentPos.geometry.location.lng());
                    $('#latitude').val(currentPos.geometry.location.lat());
                }else {
                    console.log('fillcords false');
                    var street = $('#street').val() || '';
                    var city = $('#city').val() || '';
                    var state = $('#state').val() || '';

                    var number = $('#num').val() || '';

                    if (!street || !city || !state) {
                        toastr.warning('Você precisa da rua, da cidade e do estado.', 'Falta dados para exectuar essa ação');
                        return;
                    }

                    var address = '';

                    address =
                        street + " " + number + ", " +
                        city + ", " +
                        state + " - " + 'Brasil';

                    geocoder.geocode({address:address}, function(results, status){
                        // console.log(results, status);
                        var position = null;
                        if (status === google.maps.GeocoderStatus.OK) {
                            position = results[0];
                        }else {
                            position = null;
                        }
                        if(!position) return;
                        currentPos = position;
                        $('#longitude').val(currentPos.geometry.location.lng());
                        $('#latitude').val(currentPos.geometry.location.lat());
                    });
                }
            };

            $("#fillcords").click(fillCords);


            /*
                street
                zip
                num
                street
                state
            */
            function validate(){
                var allow = true;

                //required
                var street = $('#street').val(),
                    zip = $('#zip').val(),
                    num = $('#num').val(),
                    state = $('#state').val(),
                    city = $('#city').val();
                var lat = $('#latitude').val(),
                    long = $('#longitude').val();

                var msg;
                <% if(page === 'create'){ %>
                    if (!street) {
                        msg = "Você precisa informar uma rua.";
                        allow = allow && false;
                    }
                    if (!zip) {
                        msg = "Você precisa informar um CEP.";
                        allow = allow && false;
                    }
                    if (!num) {
                        msg = "Você precisa informar um numero.";
                        allow = allow && false;
                    }
                    if (!state) {
                        msg = "Você precisa informar um estado.";
                        allow = allow && false;
                    }
                    if (!city) {
                        msg = "Você precisa informar uma cidade.";
                        allow = allow && false;
                    }
                <% } %>
                if (!!long !== !!lat) {
                    msg = "Ao cadastrar um longitude e latitude, você deve informar os dois valores.";
                    allow = allow && false;
                }


                if(msg){
                    toastr.warning(msg, 'Cadastro não foi enviado.');
                }
                return allow;
            }
        </script>
    </body>
</html>
