<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Index - Dexi</title>
        <% include partials/baselinks %>
        <link rel="stylesheet" href="/css/button.css" media="screen" charset="utf-8">

    </head>
    <body>
        <% include partials/banner %>

        <% include content/indexContent %>

        <% include partials/footer %>

        <% include partials/basescripts %>

        <% if(!showMap){ %>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBChT1HhWGH525ndn_-IUWvrCaop-9KKqk" type="text/javascript">
            </script>
            <script type="text/javascript">
                var insertMapStuff;
                var findlocationByAddress;
                var timeoutEvent = null;
                $(document).ready(function(){
                    $("#long").html(0);
                    $("#lat").html(0);

                    var position = function(pos){
                        var long = pos.coords.longitude;
                        var lat = pos.coords.latitude;
                        $("#longitude").val(long);
                        $("#latitude").val(lat);
                        $("#long").html(long);
                        $("#lat").html(lat);
                    };

                    navigator.geolocation.getCurrentPosition(position);

                    $('#address').keypress(function(){
                        console.log('pressed a key');
                        add = $('#address').val();
                        clearTimeout(timeoutEvent);
                        timeoutEvent = setTimeout(function(){
                            findlocationByAddress(add);
                        }, 1000);
                    });

                    insertMapStuff = function(position){
                        $("#longitude").val(0);
                        $("#latitude").val(0);
                        $("#long").html(0);
                        $("#lat").html(0);

                        $("#latitude").val(position.lat());
                        $("#lat").html(position.lat());
                        $("#longitude").val(position.lng());
                        $("#long").html(position.lng());
                    }
                });

                findlocationByAddress = function(addr){
                    console.log(addr);
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({address:addr}, function(results, status){
                        console.log(results, status);
                        var position = null;
                        if (status === google.maps.GeocoderStatus.OK) {
                            position = results[0].geometry.location;
                        }else {
                            position = null;
                        }
                        if(!position) return;
                        insertMapStuff(position);
                    })
                }
            </script>
        <% } %>
        <% if(showMap){ %>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBChT1HhWGH525ndn_-IUWvrCaop-9KKqk" type="text/javascript">
            </script>
            <script type="text/javascript">
                //google dealing with maps
                var directionsDisplay;
                var directionsService;
                var currentPoint = {};
                var map;
                function initMap () {
                    directionsDisplay = new google.maps.DirectionsRenderer();
                    directionsService = new google.maps.DirectionsService();
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: <%= lat %>, lng: <%= long %>},
                        zoom: 16,
                        mapTypeControl : true,
                        zoomControl : true,
                        zoomControlOptions : {
                            style: google.maps.ZoomControlStyle.SMALL,
                            position: google.maps.ControlPosition.RIGHT_BOTTOM
                        },
                        mapTypeControlOptions : {
                            style : google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                            mapTypeIds : [
                                google.maps.MapTypeId.ROADMAP,
                                google.maps.MapTypeId.HYBRID
                            ],
                            position: google.maps.ControlPosition.BOTTOM_CENTER
                        }
                    });

                    var otherMarkers =
                        JSON.parse(
                            '<%- JSON.stringify(services).replace(/\'/g, "\\'") %>'
                                .replace(/\n/g, "&#10")
                                .replace(/\r/g, "&#13")
                                .replace(/\t/g, ""));

                    var markers = [];
                    var content = [];
                    for (var i = -1; i < otherMarkers.length; i++) {
                        if (i === -1) {
                            currentPoint = {lat: <%= lat %>, lng: <%= long %>};
                            markers.push(
                                new google.maps.Marker({
                                    position: currentPoint,
                                    map: map,
                                    title: "Você!"
                                })
                            );
                            continue;
                        }

                        content.push(
                            '<div id="content">'+
                                '<div id="siteNotice">'+
                                '</div>'+
                                    '<h1 id="firstHeading" class="firstHeading">' + otherMarkers[i].User.username + '</h1>'+
                                    '<div id="bodyContent">'+
                                    '<p>' +
                                        otherMarkers[i].User.Seller.description +
                                    '</p>'+
                                    '<p class="btn-group btn-group-sm"><a class="btn btn-primary btn-sm" href="/u/'+ otherMarkers[i].User.url + '">' +
                                        otherMarkers[i].User.username +
                                        '<a class="btn btn-success btn-sm" onclick="calculateRoute(' + otherMarkers[i].latitude + ',' +otherMarkers[i].longitude + ');">Calcular Rota</a>' +
                                    '</a> '+
                                '</div>'+
                            '</div>');

                        markers.push(new google.maps.Marker({
                            position: {lat: otherMarkers[i].latitude, lng: otherMarkers[i].longitude},
                            map: map,
                            title: otherMarkers[i].User.username,
                            label : otherMarkers[i].User.username
                        }));
                        directionsDisplay.setMap(map);
                    }

                    console.log(content, markers);

                    var infowindow = null;
                    infowindow = new google.maps.InfoWindow({
                        content : '...'
                    });
                    for(var k = 1; k < markers.length ; k++){
                        var m = markers[k];
                        m.html = content[k-1];
                        google.maps.event.addListener(m, 'click', function() {
                            infowindow.setContent(this.html)
                            infowindow.open(map, this);
                        });
                    }
                }

                calculateRoute = function(lat, long){
                    var destination = {lat : lat, lng : long};
                    var startLocation = currentPoint;

                    request = {
                        origin : startLocation,
                        destination : destination,
                        travelMode : google.maps.TravelMode.DRIVING
                    }
                    directionsService.route(request, function(result, status){
                        if(status === google.maps.DirectionsStatus.OK){
                            directionsDisplay.setDirections(result);
                        }
                    });
                };

                initMap();
            </script>
        <% } %>
    </body>
</html>
