<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Itens - Dexi</title>
        <% include partials/baselinks %>
    </head>
    <body>
        <% include partials/banner %>

        <% include content/itemsContent %>

        <% include partials/footer %>

        <% include partials/basescripts %>
        <% if(page === 'create' || page === 'edit'){ %>
            <script type="text/javascript">
                function validate(){
                    var allow = true;

                    //required
                    var name = $('#name').val();

                    var msg;
                    <% if(page === 'create'){ %>
                        if (!name) {
                            msg = "Você precisa informar um nome.";
                            allow = allow && false;
                        }
                    <% } %>
                    if (name) {
                        if(name.length < 3){
                            console.log('hey');
                            msg = "O nome do item deve ter pelo menos 3 caracteres.";
                            allow = allow && false;
                        }
                    }
                    console.log(msg, allow);
                    if(msg){
                        toastr.warning(msg, 'Cadastro não foi enviado.');
                    }
                    return allow;
                }
            </script>
        <% } %>
    </body>
</html>
