<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Portal - Dexi</title>
        <% include partials/baselinks %>
    </head>
    <body>
        <% include partials/banner %>

        <% include content/portalServiceContent %>

        <% include partials/footer %>

        <% include partials/basescripts %>
        <script type="text/javascript">
            function validateOptions(){
                var emailEx = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i;
                var allow = true;

                //required
                var email = $('#email').val(),
                    password = $('#confpassword').val();

                var msg;
                if (!password) {
                    msg = "Você precisa informar uma senha.";
                    allow = allow && false;
                }
                if (email) {
                    if (!emailEx.test(email)) {
                        msg = "Você precisa informar um email válido.";
                        allow = allow && false;
                    }
                }
                if(msg){
                    toastr.warning(msg, 'Sua conta não foi alterada.');
                }
                return allow;
            }
        </script>
    </body>
</html>
