<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Index - Dexi</title>
        <% include partials/baselinks %>
    </head>
    <body>
        <% include partials/banner %>

        <div class="wrapper">
            <div class="container verticalCenter">
                <div class="panel panel-<%= type %>">
                    <div class="panel-heading">
                        <h3 class="panel-title">Você está sendo redirecionado!</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-2">

                            </div>
                            <div class="col-xs-10">
                                <h1>
                                    <%= title %>
                                </h1>
                                <p>
                                    <%= msg %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="<%= redirection %>"><b>Clique aqui</b></a> se vocâ não foi redirecionado.
                    </div>
                </div>
            </div>
        </div>

        <% include partials/footer %>

        <% include partials/basescripts %>

        <% if(redirect){ %>
            <script type="text/javascript">
                var redirect = function(){
                    console.log('Redirecting.....');
                    window.location.href = '<%= redirection %>';
                }

                setTimeout(redirect, 7500);
            </script>
        <% } %>
    </body>
</html>
