<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Pedido - Dexi</title>
        <% include partials/baselinks %>
    </head>
    <body>
        <% include partials/banner %>

        <% include content/requestsContent %>

        <% include partials/footer %>

        <% include partials/basescripts %>
    </body>
</html>
