<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Empresa - Dexi</title>
        <% include partials/baselinks %>
        <link rel="stylesheet" href="/css/datepicker.css" charset="utf-8">
    </head>
    <body>
        <% include partials/banner %>

        <% include content/serviceContent %>

        <% include partials/footer %>

        <% include partials/basescripts %>


        <% if(page === "request" ){ %>
            <script src="/scripts/bootstrap-datepicker.js" charset="utf-8" type="text/javascript"></script>
            <script type="text/javascript">
                var items = JSON.parse('<%- JSON.stringify(load.items).replace(/\'/g, "\\'") %>'.replace(/\n/g, "&#10").replace(/\r/g, "&#13").replace(/\t/g, ""));
                var addresses = JSON.parse('<%- JSON.stringify(load.addresses).replace(/\'/g, "\\'").replace(/\n/g, '&#10').replace(/\r/g, '&#13').replace(/\t/g, '') %>');
                var type = "<%= type %>";
                var service_id = <%= load.service.Seller.id %>;
                var serviceUrl = '<%= load.service.url %>';
            </script>
            <script src="/app/RequestController.js" charset="utf-8" type="text/javascript"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('.jsok').show();
                    $('.jsno').hide();
                });
            </script>
        <% } %>


    </body>
</html>
