<% if(regType === "agenda") {%>
    <h2>Cadastrando um novo serviço</h2>
<% } else { %>
    <h2>Cadastrando um novo produto</h2>
<% } %>
<form action="/item/create" class="" method="post" role="form" enctype="multipart/form-data" onsubmit="return validate()">
    <input type="hidden" name="type" value="<%= regType %>">
    <div class="form-group">
        <label for="name">Nome do
        <% if(regType === "agenda"){ %> serviço <% } else { %> produto <% } %> *
        </label>
        <input class="form-control" id="name" name="regname" placeholder="" type="text">
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <% if(regType === "agenda"){ %>
                <label for="price">Valor da consulta por hora</label>
            <% } else{ %>
                <label for="price">Valor do produto</label>
            <% } %>
            <input class="form-control" id="price" name="regprice" placeholder="" type="number" value="0" step="any">
        </div>
        <div class="col-xs-6">
            <label for="discount">Desconto</label>
            <input class="form-control" id="discount" name="regdisc" placeholder="" type="number" value="0" step="any">
        </div>
    </div>

    <div class="form-group">
        <% if(regType === "agenda"){ %>
            <label for="price">Uma descrição do seu serviço</label>
        <% } else{ %>
            <label for="price">Uma descrição do seu produto</label>
        <% } %>
        <textarea name="regdesc" rows="4" class="form-control" ng-model="checkForSize"></textarea>
        <p class="help-block">
            Você tem {{ 255 - checkForSize.length}} caracteres sobrando
        </p>
    </div>
    <% if(regType === "agenda"){ %>
        <div class="form-group">
            <label for="minduration">Duração mínima do serviço?</label>
            <input class="form-control" id="minduration" name="regmin" placeholder="" type="number" value="0">
        </div>
        <div class="form-group">
            <label for="maxduration">Duração máxima do serviço?</label>
            <input class="form-control" id="maxduration" name="regmax" placeholder="" type="number" value="0">
        </div>
    <% } %>
    <div class="form-group">
        <label for="img">Escolha uma imagem para o seu <% if(regType === "agenda"){ %> serviço <% } else { %> produto <% } %></label>:
        <input class="form-control" id="img" name="regimg" placeholder="" type="file">
    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-default" href="/portal/items">Voltar</a>
        <input class="btn btn-primary" id="submit" name="submit" placeholder="" type="submit" value="Cadastrar produto">
    </div>
    <div class="form-group">
        <p class="help-block">
            * são campos obrigatórios.
        </p>
    </div>
</form>
