<% if(regType === "agenda") {%>
    <h2>Editando serviço <%= load.item.itemName %></h2>
<% } else { %>
    <h2>Editando produto <%= load.item.itemName %></h2>
<% } %>
<form action="/item/edit" class="" method="post" role="form" enctype="multipart/form-data" onsubmit="return validate()">
    <input type="hidden" name="type" value="<%= regType %>">
    <input type="hidden" name="editid" value="<%= load.item.id %>">
    <div class="form-group">
        <label for="name">Nome do
            <% if(regType === "agenda"){ %> serviço <% } else { %> produto <% } %>:
        </label>
        <input class="form-control" id="name" name="editname" placeholder="<%= load.item.itemName %>" type="text">
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <% if(regType === "agenda"){ %>
                <label for="price">Valor da consulta por hora</label>
            <% } else{ %>
                <label for="price">Valor do produto</label>
            <% } %>
            <input class="form-control" id="price" name="editprice" placeholder="<%= load.item.itemPrice %>" type="number" step="any">
        </div>
        <div class="col-xs-6">
            <label for="discount">Desconto</label>
            <input class="form-control" id="discount" name="editdisc" placeholder="<%= load.item.discount %>" type="number" step="any">
        </div>
    </div>

    <div class="form-group">
        <% if(regType === "agenda"){ %>
            <label for="price">Uma descrição do seu serviço</label>
        <% } else{ %>
            <label for="price">Uma descrição do seu produto</label>
        <% } %>
        <textarea name="editdesc" rows="4" class="form-control" placeholder="<%= load.item.description %>" ng-model="checkForSize"></textarea>
        <p class="help-block">
            Você tem {{ 255 - checkForSize.length}} caracteres sobrando
        </p>
    </div>
    <% if(regType === "agenda"){ %>
        <div class="form-group">
            <label for="minduration">Quantos minutos cada terfa dura no minimo?</label>
            <input class="form-control" id="minduration" name="editmin" placeholder="<%= load.item.Agenda.minDuration %>" type="number">
        </div>
        <div class="form-group">
            <label for="maxduration">Quantos minutos cada terfa pode durar no máximo?</label>
            <input class="form-control" id="maxduration" name="editmax" placeholder="<%= load.item.Agenda.maxDuration %>" type="number">
        </div>

    <% } %>
    <div class="form-group">
        <% if(load.item.picturename){ %>
            <label for="img">Escolha uma imagem nova para o seu <% if(regType === "agenda"){ %> serviço <% } else { %> produto <% } %></label>:
        <% } else {%>
            <label for="img">Escolha uma imagem para o seu <% if(regType === "agenda"){ %> serviço <% } else { %> produto <% } %></label>:
        <% } %>
        <input class="form-control" id="img" name="editimg" placeholder="" type="file">
    </div>
    <div class="btn-group btn-group-lg">
        <a class="btn btn-default" href="/portal/items">Voltar</a>
        <input class="btn btn-primary" id="submit" name="submit" placeholder="" type="submit" value="Modificar produto">
    </di
