<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Avaliando
                <em>
                    <% if(type === "buyer"){ %>
                        <a href="/u/<%= request.Seller.User.url %>">
                            <%= request.Seller.User.username %>
                        </a>
                    <% } else { %>
                        <a href="/u/<%= request.Buyer.User.url %>">
                            <%= request.Buyer.User.username %>
                        </a>
                    <% } %>
                </em>
                pelo pedido <a href="/request/<%= request.id %>">numero <%= request.id %></a>
                 como
                <em>
                    <% if(type==='seller'){ %>vendedor<% }else{ %>comprador<% } %>
                </em>
            </h2>

            <form class="" action="/request/evaluate" method="post" ng-init="grade = 0">
                <input type="hidden" name="reqid" value="<%= request.id %>">
                <input type="hidden" name="grade" value="{{grade}}">
                <input type="hidden" name="type" value="<%= type %>">
                <div class="form-group">
                    <label for="reason">Comentário</label>
                    <textarea id="reason" class="form-control" name="reason"></textarea>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-lg">
                        <a class="btn btn-success" ng-click="grade = +1">+1</a>
                        <a class="btn btn-warning" ng-click="grade = 0">0</a>
                        <a class="btn btn-danger" ng-click="grade = -1">-1</a>
                        <a class="btn btn-default">Nota: {{grade}}</a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-lg">
                        <a class="btn btn-default" href="/portal/requests?state=finished">Voltar</a>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
