<div class="container smallGap">
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Detalhes do pedido</h2>
                    </div>
                    <div class="col-xs-6 right-align">
                        <h2>
                            Estado:
                            <% if(request.isRejected){ %>
                                Rejeitado
                            <% }else if(request.completionDate){ %>
                                Concluído
                            <% }else{ %>
                                <%= request.RequestState.description.charAt(0).toUpperCase() + request.RequestState.description.slice(1)%>
                            <% } %>
                        </h2>
                    </div>

                </div>
            </div>

            <% if(type==="service"){ %>
                <h3>Numero secreto: <%= request.generatedNumber %></h3>
                <p>
                    Entrega esse numero para o comprador depois que o serviço ou compra foi realizado.
                </p>
            <% } %>
            <h3>Data de entrega:
                <% if(request.startDate){ %>
                    <%= request.startDate.getDate() %> /
                    <%= request.startDate.getMonth() + 1 %> /
                    <%= request.startDate.getFullYear() %> as
                    <%= request.startDate.getHours() %> Horas
                <% } else { %>
                    Mais rápido possível
                <% } %>
            </h3>

            <h3>Pedidos: </h3>
            <% var valorTotal = 0 %>
            <table class="table table-striped table-responsive table-bordered">
                <tr>
                    <th>
                        Foto
                    </th>
                    <th>
                        Nome
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Preço
                    </th>
                    <th>
                        Desconto
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
                <% for (var i = 0; i < items.length; i++) {%>
                    <tr>
                        <td class="textcenter">
                            <a href="/i/<%= items[i].id %>">
                                <% if(items[i].picturename){ %>
                                    <%- image(items[i].picturename, {height : 75, width: 75, crop: 'fill', radius : 4}) %>

                                <% }else { %>
                                    <img src="/img/no_image.png" alt="" width="75px" />
                                <% } %>
                            </a>
                        </td>
                        <td>
                            <a href="/i/<%= items[i].id %>">
                                <%= items[i].itemName %>
                            </a>
                        </td>
                        <td class="right-align">
                            <%= items[i].ItemRequest.quantity %>
                        </td>
                        <td class="right-align">
                            {{<%= items[i].ItemRequest.itemPrice %> | currency}}
                        </td>
                        <td class="right-align">
                            <%= items[i].ItemRequest.discount %>%
                        </td>
                        <td class="right-align">
                            <% if(items[i].Agenda){ %>
                                {{<%= (items[i].ItemRequest.quantity/60) * items[i].ItemRequest.itemPrice * (1 - items[i].ItemRequest.discount/100) %> | currency}}
                                <% valorTotal = valorTotal + (items[i].ItemRequest.quantity/60 * items[i].ItemRequest.itemPrice * (1 - items[i].ItemRequest.discount/100)) %>
                            <% }else{ %>
                                {{<%= items[i].ItemRequest.quantity * items[i].ItemRequest.itemPrice * (1 - items[i].ItemRequest.discount/100) %> | currency}}
                                <% valorTotal = valorTotal + (items[i].ItemRequest.quantity * items[i].ItemRequest.itemPrice * (1 - items[i].ItemRequest.discount/100)) %>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
                <tr>
                    <td colspan="5" class="right-align"><strong>Total:</strong></td>
                    <td class="right-align">
                        {{<%= valorTotal %> | currency}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3>Comprador</h3>
            <p>
                Nome: <%= request.Buyer.User.username %>
            </p>
            <p>
                Usuário: <a href="/u/<%= request.Buyer.User.url %>"><%= request.Buyer.User.url %></a>
            </p>
        </div>
        <div class="col-xs-6">
            <h3>Empresa</h3>
            <p>
                Nome: <%= request.Seller.User.username %>
            </p>
            <p>
                Usuário: <a href="/u/<%= request.Seller.User.url %>"><%= request.Seller.User.url %></a>
            </p>
            <p>
                Email: <a href="mailto:<%= request.Seller.User.email %>"><%= request.Seller.User.email %></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>Endereço de entrega:</h3>
            <p>
                Rua: <%= request.BuyerAddress.address %> <%= request.BuyerAddress.number %> <% if(request.BuyerAddress.aptNumber){ %> Apt: <%= request.BuyerAddress.aptNumber %> <% } %>
                <br>
                CEP: <%= request.BuyerAddress.zip %>
                <br>
                <%= request.BuyerAddress.city %>, <%= request.BuyerAddress.state %> - <%= request.BuyerAddress.country %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <% if(!(!!request.isRejected || !!request.completionDate)){ %>
                <h2>Opções:</h2>
                <% if(type === "users"){ %>
                    <form role="form" action="/request/codeConfirmation" method="post">
                        <input type="hidden" name="request_id" value="<%= request.id %>">
                        <div class="form-group">
                            <label for="code">Escreve o código que você recebeu aqui: </label>
                            <input type="text" class="form-control" id="code" placeholder="" name="confirmCode">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-success" id="submit" value="Concluir compra">
                        </div>
                    </form>
                <% } else if(type === "service"){ %>
                    <form role="form" action="/request/changeState" method="post">
                        <input type="hidden" name="request_id" value="<%= request.id %>">
                        <div class="form-group">
                            <label class="control-label" >Novo estádo do pedido: </label>
                            <select class="form-control" name="stateid">
                                <% for (var i = 0; i < states.length; i++) {%>
                                    <option value="<%= states[i].id %>"><%= states[i].description %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <input type="submit" class="form-control btn btn-primary" class="btn btn-primary" id="submit" value="Modificar estado">
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-danger form-control" href="/request/reject/<%= request.id %>">Rejeitar esse Pedido</a>
                                <p class="help-block">
                                    Essa ação é definitiva. Não poderá ser retormada.
                                </p>
                            </div>
                        </div>
                    </form>
                <% } %>
            <% } %>
        </div>
    </div>
    <% if((!!request.isRejected || !!request.completionDate)){ %>
        <% if((!!request.userEvaluation && (request.Seller.User.id === user.id))){ %>
            <hr>
            <div class="row">
                <h3>Avaliação recebida:</h3>
                <p>
                    <strong>Nota: </strong> <%= request.userEvaluation %>
                </p>
                <p>
                    <strong>Comentário: </strong>
                    <em>
                        <%= request.userEvaluationComment %>
                    </em>
                </p>
            </div>
        <% } %>
        <% if((!!request.serviceEvaluation && (request.Buyer.User.id === user.id))){ %>
            <hr>
            <div class="row">
                <h3>Avaliação recebida:</h3>
                <p>
                    <strong>Nota: </strong> <%= request.serviceEvaluation %>
                </p>
                <p>
                    <strong>Comentário: </strong>
                    <em>
                        <%= request.serviceEvaluationComment %>
                    </em>
                </p>
            </div>
        <% } %>
    <% } %>

</div>
