<% if(isLogged){ %>
    <div class="panel panel-success smallGap"  ng-init="commentContent = ''">
        <div class="panel-heading">
            <h3 class="panel-title">
                Comentando como: <%= user.url %>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2 col-md-1">
                    <% if(user.picturename){ %>
                        <%- image(user.picturename, {height : 200, width: 200, crop: 'fill', radius : 25, html_width: '100%', html_height: null}) %>
                    <% } else { %>
                        <img src="/img/no_image.png" alt="Imagem" width="100%"/>
                    <% } %>
                </div>
                <div class="col-xs-10 col-md-11">
                    <form role="form" id="commentForm" action="/comment/create" method="post">
                        <input type="hidden" name="commentUserId" value="<%= comment.toId %>">
                        <input type="hidden" name="commentUserType" value="<%= comment.toType %>">
                        <input type="hidden" name="url" value="<%= comment.toUrl %>">
                        <div class="form-group">
                            <div class="input-group">
                                <textarea class="form-control" rows="3" name="commentContent" ng-model="commentContent"></textarea>
                                <span class="input-group-btn">
                                    <input class="btn btn-primary" name="submit" type="submit" value="Comentar">
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <p>
                Caracteres sobrando: {{(-1)*(commentContent.length - 250)}}
            </p>
        </div>
    </div>
<% } %>
