<% for(var i = 0; i < load.comments.length ; i++){ %>

    <div class="panel panel-default smallGap">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a href="/u/<%=  load.comments[i].Commenter.url %>"><%=  load.comments[i].Commenter.username %></a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-2 col-md-1">
                <a href="/u/<%=  load.comments[i].Commenter.url %>">
                    <% if(load.comments[i].Commenter.picturename){ %>
                        <%- image(load.comments[i].Commenter.picturename, {height : 200, width: 200, crop: 'fill', radius : 25, html_width: '100%', html_height: null}) %>
                    <% } else { %>
                        <img src="/img/no_image.png" width="100%" alt="Tempo postado: <%= load.comments[i].createdAt %>" />
                    <% } %>
                </a>
            </div>
            <div class="col-xs-10 col-md-11">
                <p>
                    <%= load.comments[i].content %>
                </p>
            </div>
        </div>
    </div>
<% } %>
