<h2>Cadastro de endereço</h2>
<form action="/address/create" class="" method="post" role="form" onsubmit="return validate()">
    <div class="form-group">
        <label for="street">Rua *</label>
        <input class="form-control" id="street" placeholder="" type="text" name="rega1">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label for="zip">CEP *</label>
                <input class="form-control" id="zip" placeholder="" type="text" name="regz">
            </div>
            <div class="col-xs-4">
                <label for="num">Numero *</label>
                <input class="form-control" id="num" placeholder="" type="number" name="regnum">
            </div>
            <div class="col-xs-4">
                <label for="apt">Apartamento</label>
                <input class="form-control" id="apt" placeholder="" type="number" name="regapt">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="street">Cidade *</label>
                <input class="form-control" id="city" placeholder="" type="text" name="regct">
            </div>
            <div class="col-xs-6">
                <label for="state">Estado *</label>
                <input class="form-control" id="state" placeholder="" type="text" name="regst">
            </div>
            <!-- Bottom was here -->
            <input class="form-control" id="country" type="hidden" value="Brasil" name="regcount">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="latitude">Latitude</label>
                <input class="form-control" id="latitude" placeholder="" type="number" name="reglat" step="any">
            </div>
            <div class="col-xs-6">
                <label for="longitude">Longitude</label>
                <input class="form-control" id="longitude" placeholder="" type="number" name="reglong" step="any">
            </div>
        </div>
        <p class="help-block">
            Você pode descobrir a suas cordenadas no <a href="https://maps.google.com/">Google Mapas</a>.
            <br>
            Esses campos serão utilizados para realizar ver qual serviço está mais perto.
            <br>
            Se você informar um campo, você deve informar o outro.
        </p>
    </div>
    <div class="form-group" id="helpbox">
        <a class="btn btn-warning btn-sm" id="find"></a>
        <a class="btn btn-info btn-sm" id="fillcords">Procurar Cordenadas</a>
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <a class="btn btn-default" href="/portal/addresses">Cancelar e voltar</a>
            <input class="btn btn-primary" type="submit" name="submit" value="Cadastrar Endereço">
        </div>
    </div>
    <div class="form-group">
        <p class="help-block">
            * são campos obrigatórios.
        </p>
    </div>
</form>
