<h2>Modificar de endereço</h2>
<form action="/address/edit" class="" method="post" role="form" onsubmit="return validate()">
    <input class="form-control" id="addressid" type="hidden" name="editid" value="<%= address.id %>">
    <div class="form-group">
        <label for="street">Rua</label>
        <input class="form-control" id="street" placeholder="<%= address.address %>" type="text" name="edita1">
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label for="zip">CEP</label>
                <input class="form-control" id="zip" placeholder="<%= address.zip %>" type="text" name="editz">
            </div>
            <div class="col-xs-4">
                <label for="num">Numero</label>
                <input class="form-control" id="num" placeholder="<%= address.number %>" type="number" name="editnum">
            </div>
            <div class="col-xs-4">
                <label for="apt">Apartamento</label>
                <input class="form-control" id="apt" placeholder="<%= address.aptNumber %>" type="number" name="editapt">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="street">Cidade</label>
                <input class="form-control" id="city" placeholder="<%= address.city %>" type="text" name="editct">
            </div>
            <div class="col-xs-6">
                <label for="state">Estado</label>
                <input class="form-control" id="state" placeholder="<%= address.state %>" type="text" name="editst">
            </div>
            <!-- Bottom was here -->
            <input class="form-control" id="country" placeholder="<%= address.country %>" type="hidden" value="Brasil" name="editcount">
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="latitude">Latitude</label>
                <input class="form-control" id="latitude" placeholder="<%= address.latitude %>" type="number" name="editlat" step="any">
            </div>
            <div class="col-xs-6">
                <label for="longitude">Longitude</label>
                <input class="form-control" id="longitude" placeholder="<%= address.longitude %>" type="number" name="editlong" step="any">
            </div>
        </div>
        <p class="help-block">
            Você pode descobrir a suas cordenadas no <a href="https://maps.google.com/">Google Mapas</a>.
            <br>
            Esses campos serão utilizados para realizar ver qual serviço está mais perto.
            <br>
            Se você informar um campo, você deve informar o outro.
        </p>
    </div>
    <div class="form-group" id="helpbox">
        <a class="btn btn-warning" id="find"></a>
        <a class="btn btn-info" id="fillcords">Buscar Cordenadas</a>
    </div>
    <div class="btn-group btn-group-lg textcenter">
        <a class="btn btn-default" href="/portal/addresses">Cancelar e voltar</a>
        <input class="btn btn-primary" type="submit" name="submit" value="Atualizar Endereço">
    </div>
</form>
