<div class="container smallGap">
    <div class="col-xs-12">
        <% if(page === "create") { %>
            <% include addressExpanded/create %>
        <% } else if(page === "edit") { %>
            <% include addressExpanded/edit %>
        <% } %>
    </div>
</div>
