<% if(showMap){ %>
    <div class="buttonSetting">
        <a href="/clearLocation" class="btn btn-info">
            Mudar de Local
        </a>
    </div>
    <div class="container-fluid verticalWrapper">
        <div class="row verticalWrapper">
            <div id="map"></div>
        </div>
    </div>
<% } else { %>
    <div class="container smallGap verticalWrapper">
        <div class="row verticalCenter">
            <div class="col-xs-8 col-xs-offset-2">
                <form role="form" action="/setMap" method="post">
                    <input type="hidden" id="latitude" placeholder="Latitude" name="latitude" step="any">
                    <input type="hidden" id="longitude" placeholder="Longitude" name="longitude" step="any">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#auto" data-toggle="tab">Auto</a>
                        </li>
                        <li>
                            <a href="#byAddress" data-toggle="tab">Por Endereço</a>
                        </li>
                    </ul>
                    <div class="tab-content smallGap">
                        <div class="tab-pane fade in active" id="auto">
                        </div>
                        <div class="tab-pane fade" id="byAddress">
                            <div class="form-group">
                                <label for="address">Endereço</label>
                                <textarea name="name" rows="2" class="form-control" id="address" placeholder=""></textarea>
                                <p class="help-block">Escreve seu endereço aqui</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            Localização:
                        </label>
                        <p class="help-block">
                            Latitude: <span id="lat"></span> /
                            Longitude: <span id="long"></span>
                        </p>
                    </div>
                    <div class="form-group" class="hide">
                      <input type="submit" class="btn btn-primary form-control" id="submit" value="Mostre o mapa!">
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>
