<div class="container smallGap">
    <div class="col-xs-12">
        <% if(page === "create"){ %>

            <% include itemExpanded/create %>

        <% } else if(page === "view"){ %>

            <% include itemExpanded/view %>

        <% } else if(page === "edit"){ %>

            <% include itemExpanded/edit %>

        <% } %>

    </div>
</div>
