
<div class="container smallGap">
    <div class="row">
        <div class="col-xs-12">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="" action="/login" method="post">
                <div class="form-group">
                    <label for="url">Usuário</label>
                    <input type="text" class="form-control" id="name" placeholder="Usuário ou email" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Sua senha" name="password">
                </div>
                <div class="btn-group btn-group-lg">
                    <a href="/" class="btn btn-default">Voltar</a>
                    <input class="btn btn-primary" type="submit" name="create" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>
