<div class="container smallGap">
    <div class="row">
        <div class="col-xs-12">
            <% if (page === "home") { %>

                <% include portalExpanded/home %>

            <% } else if (page === "address") { %>

                <% include portalExpanded/address %>

            <% } else if (page === "items") { %>

                <% include portalExpanded/items %>

            <% }  else if (page === "request") { %>

                <% include portalExpanded/viewreq %>

            <% }  else if (page === "friends") { %>

                <% include portalExpanded/friends %>

            <% } else if (page === "edit") { %>

                <% include portalExpanded/edit %>

            <% } %>
        </div>
    </div>
</div>
