<div class="container smallGap" ng-init="userType = 'buyer'">

    <h2>Cadastro</h2>

    <form class="" action="/register" method="post" enctype="multipart/form-data" onsubmit="return validate()">
        <input type="hidden" name="regtype" value="{{userType}}">
        <div class="form-group">
            <label for="url">Usuário*</label>
            <input type="text" class="form-control" id="url" placeholder="O usuário de login" name="regurl">
            <p class="help-block">
                Pode-se utilizar somente os caracteres a-z, A-Z, - e _
            </p>
        </div>
        <div class="form-group">
            <label for="name">Nome*</label>
            <input type="text" class="form-control" id="name" name="regname" placeholder="">
            <p class="help-block">
                Seu nome (e.g <i>Pizzaria João Maria</i> ou <i>João Smith</i>)
            </p>
        </div>
        <div class="form-group">
            <label for="password">Senha*</label>
            <input type="password" class="form-control" id="password" placeholder="Sua senha" name="regpass">
        </div>
        <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" class="form-control" id="email" placeholder="O seu email" name="regemail">
        </div>
        <div class="form-group">
            <div class="btn-group btn-group-lg" ng-show="userType === 'buyer'">
                <a href="#" class="btn btn-warning" ng-click="userType = 'seller'">Sou uma empresa</a>
            </div>
            <div class="btn-group btn-group-lg" ng-show="userType === 'seller'">
                <a href="#" class="btn btn-warning" ng-click="userType = 'buyer'; input = null">Sou um comprador</a>
            </div>
        </div>
        <div class="form-group" ng-show="userType === 'seller'">
            <label for="description">Descrição da sua empresa</label>
            <textarea type="text" class="form-control" id="description" name="regdesc" ng-model="input">
            </textarea>
            <p class="help-block">
                Descreve seu serviço com palavras curtas - lembra que você não pode ultrapassar mais de {{(input.length - 500)*-1}}
            </p>
        </div>
        <div class="form-group">
            <label for="img">Escolha uma imagem para sua conta:</label>
            <input class="form-control" id="img" name="regimg" placeholder="" type="file">
        </div>
        <div class="btn-group btn-group-lg">
            <a href="/" class="btn btn-default">Desistir e Voltar</a>
            <input class="btn btn-primary" type="submit" name="create" value="Cadastrar">
        </div>
        <div class="form-group">
            <p class="help-block">
                * são campos obrigatórios.
            </p>
        </div>
    </form>
</div>
