<div class="container smallGap">
    <ul class="nav nav-pills nav-justified">
        <li class="<% if(recent === 'service'){ %>active<% } %>">
            <a href="#srvss" data-toggle="tab">Empresas</a>
        </li>
        <li class="<% if(recent === 'items'){ %>active<% } %>">
            <a href="#itmns" data-toggle="tab">Produtos</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade <% if(recent === 'service'){ %> in active<% } %> smallGap" id="srvss">
            <% if(load.services.length === 0){ %>
                <h3>
                    Nenhuma empresa com o nome
                    <em>
                        <%= query %>
                    </em>
                    foi encontrada.
                </h3>
            <% } %>
            <% for(var i = (servicePage) * resultLimitServices; i < load.services.length && i < ((servicePage + 1) * resultLimitServices); i++){ %>
                <div class="panel panel-default smallGap">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="/u/<%=  load.services[i].url %>">
                                <%= load.services[i].username %>
                            </a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-2">
                            <a href="/u/<%=  load.services[i].url %>">
                                <% if(load.services[i].picturename){ %>
                                    <%- image(load.services[i].picturename, {height : 200, width: 200, crop: 'fill', radius : 4, html_width:'100%', html_height:null}) %>
                                <% } else { %>
                                    <img src="/img/no_image.png" width="100%"/>
                                <% } %>
                            </a>
                        </div>
                        <div class="col-xs-10">
                            <p>
                                <%= load.services[i].Seller.description %>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
            <% if(load.services.length > 0){ %>
                <nav class="text-center">
                    <ul class="pagination pagination-lg ">
                        <li>
                            <a href="/search?q=<%= query %>&sp=<%= servicePage === 0 ? 0 : servicePage - 1 %>&ip=<%= itemPage %>&r=service" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% for(var i = 0; i < Math.floor(load.services.length/resultLimitServices) + ((load.services.length % resultLimitServices) > 0 ? 1 : 0) ; i++){ %>
                            <li class="<% if(servicePage === i){ %>active<% } %>">
                                <a href="/search?q=<%= query %>&sp=<%= i %>&ip=<%= itemPage %>&r=service">
                                    <%= i + 1 %>
                                </a>
                            </li>
                        <% } %>
                        <li>
                            <a href="/search?q=<%= query %>&sp=<%= servicePage === (Math.floor(load.services.length/resultLimitServices) + ((load.services.length % resultLimitServices) > 0 ? 1 : 0) - 1) ?
                                    servicePage :
                                    servicePage + 1 %>&ip=<%= itemPage %>&r=service" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            <% } %>
        </div>
        <div class="tab-pane fade <% if(recent === 'items'){ %> in active<% } %>  smallGap" id="itmns">
            <% if(load.items.length === 0){ %>
                <h3>
                    Nenhum serviço ou produto com o nome
                    <em>
                        <%= query %>
                    </em>
                    foi encontrado.
                </h3>
            <% } %>
            <% for(var i = (itemPage) * resultLimitItem; i < load.items.length && i < ((itemPage + 1) * resultLimitItem); i++){ %>
                <% if(i % 3===0){ %>
                    <div class="row">
                <% } %>
                <div class="col-xs-4">
                    <div class="panel
                        <% if(load.items[i].Agenda){ %>
                            panel-danger
                        <% } else { %>
                            panel-warning
                        <% } %>">

                        <div class="panel-heading">
                            <h3 class="panel-title"><%= load.items[i].itemName %></h3>
                        </div>
                        <div class="panel-body">
                            <a href="/i/<%= load.items[i].id %>">
                                <% if(load.items[i].picturename){ %>
                                    <%- image(load.items[i].picturename, {height : 500, width: 500, crop: 'fill', radius : 4, html_width:'100%', html_height:null}) %>
                                <% } else { %>
                                    <img src="/img/no_image.png" alt="" width="100%" />
                                <% } %>
                            </a>
                        </div>
                        <div class="panel-footer">
                            <p>
                                Da empresa:
                                <a href="/u/<%= load.items[i].Seller.User.url %>">
                                    <%= load.items[i].Seller.User.username %>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <% if(i % 3===2 || i === load.items.length-1){ %>
                    </div>
                <% } %>
            <% } %>
            <% if(load.items.length > 0){ %>
                <nav class="text-center">
                    <ul class="pagination pagination-lg ">
                        <li>
                            <a href="/search?q=<%= query %>&sp=<%= servicePage %>&ip=<%= itemPage === 0 ? 0 : itemPage - 1 %>&r=items" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% for(var i = 0; i < Math.floor(load.items.length/resultLimitItem) + ((load.items.length % resultLimitItem) > 0 ? 1 : 0) ; i++){ %>
                            <li class="<% if(itemPage === i){ %>active<% } %>">
                                <a href="/search?q=<%= query %>&sp=<%= servicePage %>&ip=<%= i %>&r=items">
                                    <%= i + 1 %>
                                </a>
                            </li>
                        <% } %>
                        <li>
                            <a href="/search?q=<%= query %>&ip=<%= itemPage === (Math.floor(load.items.length/resultLimitItem) + ((load.items.length % resultLimitItem) > 0 ? 1 : 0) - 1) ?
                                    itemPage :
                                    itemPage + 1 %>&sp=<%= servicePage %>&r=items" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            <% } %>
        </div>
    </div>
</div>
