<div class="container smallGap">
    <div class="row">
        <% if(load.user.picturename){ %>
            <div class="hidden-xs col-sm-5">
                <%- image(load.user.picturename, {height : 500, width: 500, crop: 'fill', radius : 25, html_width: '100%', html_height: null}) %>
            </div>
            <div class="col-xs-12 hidden-md hidden-sm hidden-lg textcenter">
                <%- image(load.user.picturename, {height : 500, width: 500, crop: 'fill', radius : 25, html_width: '100%', html_height: null}) %>
            </div>
        <% } else { %>
            <div class="hidden-xs col-sm-5">
                <img src="/img/no_image.png" alt="" width="100%" />
            </div>
            <div class="col-xs-12 hidden-md hidden-sm hidden-lg textcenter">
                <img src="/img/no_image.png" alt="" height="300px" />
            </div>
        <% } %>

        <div class="col-xs-12 col-sm-7">
            <h2>
                <% if(targetType === 'service'){ %>
                    <%= load.user.username %>
                <% } else { %>
                    <%= load.user.url %>
                <% } %>
            </h2>
            <% if(targetType === 'service'){ %>
                <p>
                    <%= load.user.Seller.description %>
                </p>
            <% } %>
            <% if(isLogged){ %>
                <% if(isFriend){ %>
                    <a class="btn btn-danger" href="/friend/remove?id=<%= load.user.id %>&toUrl=<%= load.user.url %>">
                        Amigo
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                <% }else{ %>
                    <a class="btn btn-success" href="/friend/add?id=<%= load.user.id %>&toUrl=<%= load.user.url %>">
                        Amigo
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                <% } %>
            <% } %>
            <% if(targetType === 'service'){ %>
                <div class="share-container">
                    <h3>Compartilhe esta página</h3>
                    <ul class="rrssb-buttons clearfix">
                      <li class="rrssb-email">
                        <a href="mailto:?subject=Recomendo%20este%20empresa:%20<%= load.user.username %>%20-%20Dexi&body=Eu%20gostei%20dessa%20empresa%20e%20acho%20que%20você%20vai%20também.%20Visite%20este%20link:%20<%=url%>/u/<%=load.user.url %>">
                          <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path d="M20.11 26.147c-2.335 1.05-4.36 1.4-7.124 1.4C6.524 27.548.84 22.916.84 15.284.84 7.343 6.602.45 15.4.45c6.854 0 11.8 4.7 11.8 11.252 0 5.684-3.193 9.265-7.398 9.3-1.83 0-3.153-.934-3.347-2.997h-.077c-1.208 1.986-2.96 2.997-5.023 2.997-2.532 0-4.36-1.868-4.36-5.062 0-4.75 3.503-9.07 9.11-9.07 1.713 0 3.7.4 4.6.972l-1.17 7.203c-.387 2.298-.115 3.3 1 3.4 1.674 0 3.774-2.102 3.774-6.58 0-5.06-3.27-8.994-9.304-8.994C9.05 2.87 3.83 7.545 3.83 14.97c0 6.5 4.2 10.2 10 10.202 1.987 0 4.09-.43 5.647-1.245l.634 2.22zM16.647 10.1c-.31-.078-.7-.155-1.207-.155-2.572 0-4.596 2.53-4.596 5.53 0 1.5.7 2.4 1.9 2.4 1.44 0 2.96-1.83 3.31-4.088l.592-3.72z"/></svg></span>
                          <span class="rrssb-text">email</span>
                        </a>
                      </li>
                      <li class="rrssb-facebook">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=<%=url%>/u/<%=load.user.id%>" class="popup">
                          <span class="rrssb-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="29" height="29" viewBox="0 0 29 29"><path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z"
                              class="cls-2" fill-rule="evenodd"/></svg>
                          </span>
                          <span class="rrssb-text">facebook</span>
                        </a>
                      </li>
                      <li class="rrssb-twitter">
                        <a href="https://twitter.com/intent/tweet?text=Achei%20essa%20empresa%20no%20Dexi,%20dê%20uma%20olhada.%20<%=url%>/u/<%=load.user.id%>"
                        class="popup">
                          <span class="rrssb-icon"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><path d="M24.253 8.756C24.69 17.08 18.297 24.182 9.97 24.62c-3.122.162-6.22-.646-8.86-2.32 2.702.18 5.375-.648 7.507-2.32-2.072-.248-3.818-1.662-4.49-3.64.802.13 1.62.077 2.4-.154-2.482-.466-4.312-2.586-4.412-5.11.688.276 1.426.408 2.168.387-2.135-1.65-2.73-4.62-1.394-6.965C5.574 7.816 9.54 9.84 13.802 10.07c-.842-2.738.694-5.64 3.434-6.48 2.018-.624 4.212.043 5.546 1.682 1.186-.213 2.318-.662 3.33-1.317-.386 1.256-1.248 2.312-2.4 2.942 1.048-.106 2.07-.394 3.02-.85-.458 1.182-1.343 2.15-2.48 2.71z"/></svg></span>
                          <span class="rrssb-text">twitter</span>
                        </a>
                      </li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>
</div>



<% if(targetType === 'service'){ %>
    <% if(isLogged){ %>
        <% if(user.Buyer){ %>
            <div class="container">
                <div class="well well-sm smallGap">
                        <a class="btn btn-primary" href="/request/create/<%= load.user.url %>?type=goods">Comprar produto</a>
                        <a class="btn btn-primary" href="/request/create/<%= load.user.url %>?type=agenda">Utilizar serviço</a>
                    </ul>
                </div>
            </div>
        <% } %>

    <% } %>
    <div class="container smallGap">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#itms" data-toggle="tab">Itens</a>
            </li>
            <li>
                <a href="#cmmts" data-toggle="tab">Comentários</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="itms">
                <div class="smallGap">
                    <% include serviceExpanded/renderItems %>
                </div>
            </div>
            <div class="tab-pane fade" id="cmmts">
                <% include shared/commentsForm %>
                <% include shared/comments %>
            </div>
        </div>
    </div>
<% } else { %>
    <div class="container smallGap">
        <div class="row">
            <div class="col-xs-12">
                <% include shared/commentsForm %>
                <% include shared/comments %>
            </div>
        </div>
    </div>
<% } %>
