<div class="row">
    <div class="col-xs-12">
        <h2>Endereços</h2>
        <a class="btn btn-primary" href="/address/create">
            Criar um endereço novo!
            <span class="glyphicon glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>
<div class="row smallGap">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Endereços</h3>
            </div>
            <% if (load.length === 0) { %>
                <div class="panel-body">
                    <h3>
                        Você não tem nenhum endereço cadastrado
                    </h3>
                    <p>
                        Você pode começar por criar um <a href="/address/create">agora</a>.
                    </p>
                </div>
            <% } else if (load.length > 0) { %>
            <table class="table table-striped table-responsive table-hover">
                <tr>
                    <th>
                        Endereço
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
                <% for (var i = 0; i < load.length; i++) {%>
                    <tr>
                        <td>
                            <%= load[i].address %> <%= load[i].number %>,
                            <% if(load[i].aptNumber) { %>
                                <i>Apt:</i> <%= load[i].aptNumber %>
                            <% } %>
                            <br>
                            <%= load[i].zip %> - <%= load[i].city %>, <%= load[i].state %>, <%= load[i].country %>
                            <br>
                            <% if(load[i].longitude && load[i].latitude) { %>
                                Latitude:  <%= load[i].latitude %>
                                <br>
                                Longitude: <%= load[i].longitude %>
                            <% } %>
                        </td>
                        <td>
                            <div class="btn-group btn-group-lg">
                                <a class="btn btn-primary" href="/address/edit/<%= load[i].id %>">
                                    Editar
                                    <span class="glyphicon glyphicon glyphicon-pencil"></span>
                                </a>
                                <a class="btn btn-warning" href="/address/delete/<%= load[i].id %>">
                                    Deletar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </table>
            <% } %>
        </div>
    </div>
</div>
