<h2>Opções de usuários</h2>
<form action="/user/edit" method="post" enctype="multipart/form-data"  onsubmit="return validateOptions()">
    <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="editname" placeholder="<%= user.username %>">
        <% if (type === "service") { %>
            <p class="help-block">
                O nome do seu serviço (e.g <i>Pizzaria João Maria</i>)
            </p>
        <% } else if (type === "user") { %>
            <p class="help-block">
                O seu nome completo. (e.g <i>João Maria</i>)
            </p>
        <% } %>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <% var starMe = user.userpassword %>
        <input type="password" class="form-control" id="password" placeholder="••••••" name="editpass">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="editemail" placeholder="<%= user.email %>">
    </div>
    <% if (type === "service") { %>
        <div class="form-group">
            <label for="description">Descrição do seu serviço</label>
            <textarea type="text" class="form-control" id="description" name="editdesc" ng-model="input" placeholder="<%= user.Seller.description %>">
            </textarea>
            <p class="help-block">
                Descreve seu serviço com palavras curtas - lembra que você não pode ultrapassar mais de {{input.length - 250}}
            </p>
        </div>
    <% } %>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <% if(user.picturename){ %>
                    <%- image(user.picturename, {height : 200, width: 200, crop: 'fill', radius : 25, html_width: '100%', html_height: null}) %>
                <% } else { %>
                    <p>
                        Não tem uma imagem aqui
                    </p>
                <% } %>
            </div>
            <div class="col-xs-10">
                <label for="img">Escolha uma imagem para sua conta:</label>
                <input class="form-control" id="img" name="editimg"  type="file">
            </div>
        </div>
    </div>
    <hr>
    <input type="hidden" class="" id="" name="confid" value="<%= user.id %>">
    <div class="form-group">
        <label for="confpassword">Para efetuar mudanças</label>
        <input type="password" class="form-control" id="confpassword" name="confpass">
    </div>
    <div class="form-group">
        <div class="btn-group btn-group-lg">
            <a href="/portal/" class="btn btn-default">Desistir e Voltar</a>
            <input class="btn btn-primary" type="submit" name="sumbit" value="Atualizar">
        </div>
    </div>
</form>
