<div class="row">
    <ul class="nav nav-pills nav-justified">
        <li class="active">
            <a href="#friends_service" data-toggle="tab">Empresas</a>
        </li>
        <li>
            <a href="#friends_users" data-toggle="tab">Usuários</a>
        </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="friends_service">
                <% if(load.service.length === 0){ %>
                    <div class="col-xs-12">
                        <h3>Não tem nenhuma empresa aqui</h3>
                    </div>
                <% } %>
                <div class="row smallGap">
                    <% for(var i = 0; i < load.service.length ; i++){ %>
                        <div class="col-xs-4 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><%= load.service[i].Friend.username%></h3>
                                </div>
                                <div class="panel-body">
                                    <a href="/u/<%= load.service[i].Friend.url %>">
                                        <% if(load.service[i].Friend.picturename){ %>
                                            <%- image(load.service[i].Friend.picturename, {height : 500, width: 500, crop: 'fill', radius : 25, html_width:'100%', html_height:null}) %>
                                        <% }else{ %>
                                            <img src="/img/no_image.png" width="100%" radius="100%"/>
                                        <% } %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

            </div>
            <div class="tab-pane fade" id="friends_users">
                <% if(load.users.length === 0){ %>
                    <div class="col-xs-12">
                        <h3>Não tem nenhum usuário aqui</h3>
                    </div>
                <% } %>
                <div class="row smallGap">
                    <% for(var i = 0; i < load.users.length ; i++){ %>
                        <div class="col-xs-4 col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><%= load.users[i].Friend.username%></h3>
                                </div>
                                <div class="panel-body">
                                    <a href="/u/<%= load.users[i].Friend.url %>">
                                        <% if(load.users[i].Friend.picturename){ %>
                                            <%- image(load.users[i].Friend.picturename, {height : 500, width: 500, crop: 'fill', radius : 25, html_width:'100%', html_height:null}) %>
                                        <% }else{ %>
                                            <img src="/img/no_image.png" width="100%" radius="100%"/>
                                        <% } %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

            </div>
        </div>

</div>
