<div class="row">
    <div class="col-xs-12">
        <h2>Seus Itens</h2>
        <p>
            <a class="btn btn-primary" href="/item/create">
                Criar um novo item!
                <span class="glyphicon glyphicon glyphicon-plus"></span>
            </a>
            <a class="btn btn-primary" href="/item/create?regType=agenda">
                Criar um novo Serviço!
                <span class="glyphicon glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</div>
<div class="row smallGap">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Itens</h3>
            </div>
            <div class="panel-body">
                <% if(load.agenda.length > 0 || load.goods.length > 0 ){ %>
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a href="#goods" data-toggle="tab">Produtos</a>
                        </li>
                        <li>
                            <a href="#agenda" data-toggle="tab">Serviços</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="goods">
                            <% if (load.goods.length === 0){ %>
                                <h3>Você não cadastrou nenhum produto</h3>
                                <p>
                                    Você pode cadastrar um agora nesse <a href="/item/create">link</a>.
                                </p>
                            <% } else { %>
                                <table class="table table-striped table-responsive table-hover">
                                    <tr>
                                        <th>
                                            Imagem
                                        </th>
                                        <th>
                                            Nome do produto
                                        </th>
                                        <th>
                                            Preço
                                        </th>
                                        <th>
                                            Desconto
                                        </th>
                                        <th>
                                            Opções
                                        </th>
                                    </tr>
                                    <% for (var i = 0; i < load.goods.length; i++) { %>
                                        <tr>
                                            <td class="textcenter">
                                                <% if(load.goods[i].picturename){ %>
                                                    <%- image(load.goods[i].picturename, {height : 70, width: 70, crop: 'fill', radius : 4}) %>
                                                <% }else{ %>
                                                    <img src="/img/no_image.png" alt="" height="70px"/>
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= load.goods[i].itemName %>
                                            </td>
                                            <td>
                                                {{<%= load.goods[i].itemPrice%> | currency}}
                                            </td>
                                            <td>
                                                <%= load.goods[i].discount %>%
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="/i/<%= load.goods[i].id %>">Ver item</a>
                                                <a class="btn btn-warning" href="/item/edit/<%= load.goods[i].id %>">Editar</a>
                                                <a class="btn btn-danger" href="/item/delete/<%= load.goods[i].id %>">Remover</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </table>
                            <% } %>
                        </div>
                        <div class="tab-pane fade" id="agenda">
                            <% if (load.agenda.length === 0){ %>
                                <h3>Você não cadastrou nenhum serviço</h3>
                                <p>
                                    Você pode cadastrar um agora clicando nesse <a href="/item/create?regType=agenda">link</a>.
                                </p>
                            <% } else { %>
                                <table class="table table-striped table-responsive table-hover">
                                    <tr>
                                        <th>
                                            Imagem
                                        </th>
                                        <th>
                                            Nome do serviço
                                        </th>
                                        <th>
                                            Custo por hora
                                        </th>
                                        <th>
                                            Desconto
                                        </th>
                                        <th>
                                            Opções
                                        </th>
                                    </tr>
                                    <% for (var i = 0; i < load.agenda.length; i++) { %>
                                        <tr>
                                            <td class="textcenter">
                                                <% if(load.agenda[i].picturename){ %>
                                                    <%- image(load.agenda[i].picturename, {height : 70, width: 70, crop: 'fill', radius : 4})%>

                                                <% }else{ %>
                                                    <img src="/img/no_image.png" alt="" height="70px"/>
                                                <% } %>
                                            </td>
                                            <td>
                                                <%= load.agenda[i].itemName %>
                                            </td>
                                            <td>
                                                {{<%= load.agenda[i].itemPrice%> | currency}}
                                            </td>
                                            <td>
                                                <%= load.agenda[i].discount %>%
                                            </td>
                                            <td>
                                                <a class="btn btn-default" href="/i/<%= load.agenda[i].id %>">Ver item</a>
                                                <a class="btn btn-warning" href="/item/edit/<%= load.agenda[i].id %>">Editar</a>
                                                <a class="btn btn-danger" href="/item/delete/<%= load.agenda[i].id %>">Remover</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </table>
                            <% } %>

                        </div>
                    </div>
                <% } else { %>
                    <h3>Você não um produto ou serviço cadastrado.</h3>
                    <p>
                        Você pode criar um serviço clicando <a href="/item/create?regType=agenda">aqui</a>.
                    </p>
                    <p>
                        Você pode criar um produto clicando <a href="/item/create">aqui</a>.
                    </p>
                <% } %>

            </div>

        </div>
    </div>
</div>
