<div class="row smallGap">
    <div class="col-xs-12">
        <% if(type === "users"){ %>
            <h3>Meus pedidos</h3>
        <% } else if (type === "service") { %>
            <h3>Pedidos Para você</h3>
        <% } %>
    </div>
</div>

<div class="row smallGap">
    <div class="col-xs-12">
        <% if(rtype === "ongoing"){ %>
            <h3>Pedidos em andamento</h3>
        <% } else if (rtype==="finished") { %>
            <h3>Pedidos Concluidos</h3>
        <% }  else { %>
            <h3>Todos os pedidos</h3>
        <% } %>
    </div>
</div>


<div class="row smallGap">
    <div class="col-xs-12">
        <div class="btn-group btn-group-sm">
            <a class="btn btn-default" href="/portal/requests?state=all">Todos</a>
            <a class="btn btn-primary" href="/portal/requests?state=ongoing">Em andamento</a>
            <a class="btn btn-success" href="/portal/requests?state=finished">Concluídos</a>
        </div>
    </div>
</div>

<% if(requests.length > 0){ %>

    <div class="row smallGap">
        <div class="col-xs-12">
            <table class="table table-striped table-responsive">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        <% if(type === "users"){ %>
                            Serviço
                        <% } else if (type === "service") { %>
                            Usuário
                        <% } %>
                    </th>
                    <% if (type === "service") { %>
                        <th>
                            Data e Hora (Início)
                        </th>
                    <% } %>
                    <th>
                        Estado do Pedido
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
                <% for(var i = (pageNum) * resultLimit; i < requests.length && i < ((pageNum + 1) * resultLimit); i++){ %>
                    <tr>
                        <td>
                            <%= requests[i].id %>
                        </td>
                        <td>
                            <% if(type === "users"){ %>
                                <%= requests[i].Seller.User.username %>
                            <% } else if (type === "service") { %>
                                <%= requests[i].Buyer.User.username %>
                            <% } %>
                        </td>
                        <% if (type === "service") { %>
                            <td>
                                <% if(requests[i].startDate){ %>
                                    <%= requests[i].startDate.getDate() %> /
                                    <%= requests[i].startDate.getMonth() + 1 %> /
                                    <%= requests[i].startDate.getFullYear()%> @
                                    <%= requests[i].startDate.getHours()%>H
                                <% } else{ %>
                                    -
                                <% } %>
                            </td>
                        <% } %>
                        <td>
                            <% if(requests[i].isRejected){ %>
                                Rejeitado
                            <% }else if(requests[i].completionDate){ %>
                                Concluído
                            <% }else{ %>
                                <%= requests[i].RequestState.description.charAt(0).toUpperCase() + requests[i].RequestState.description.slice(1)%>
                            <% } %>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/request/<%= requests[i].id %>">Mais</a>
                            <% if(!!requests[i].isRejected || !!requests[i].completionDate){ %>
                                <% if((!requests[i].userEvaluation && (requests[i].Buyer.User.id === user.id)) || (!requests[i].serviceEvaluation && (requests[i].Seller.User.id === user.id))){ %>
                                    <a class="btn btn-default" href="/request/evaluate/<%= requests[i].id %>">Avaliar</a>
                                <% } %>
                            <% } %>
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
    <nav class="text-center">
        <ul class="pagination pagination-lg ">
            <li>
                <a href="/portal/requests?state=<%= rtype %>&p=<%= pageNum === 0 ? 0 : pageNum - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for(var i = 0; i < Math.floor(requests.length/resultLimit) + ((requests.length % resultLimit) > 0 ? 1 : 0) ; i++){ %>
                <li class="<% if(pageNum === i){ %>active<% } %>">
                    <a href="/portal/requests?state=<%= rtype %>&p=<%= i %>">
                        <%= i + 1 %>
                    </a>
                </li>
            <% } %>
            <li>
                <a href="/portal/requests?state=<%= rtype %>&p=<%= pageNum === (Math.floor(requests.length/resultLimit) + ((requests.length % resultLimit) > 0 ? 1 : 0) - 1) ?
                        pageNum :
                        pageNum + 1 %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

<% } %>

<% if(requests.length === 0){ %>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="textcenter">Não há nenhum pedido aqui</h4>
        </div>
    </div>
<% } %>
